{% extends "base.html" %}

{% block content %}
    <div class="container">
{# Nav Pills#}
        <div class="mt-3">
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Conference</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Speakers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link ">Participants</a>
              </li>
            </ul>
        </div>
{# Table #}
        <div class="col-8">


        <table class="table mt-3">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col" >Actions</th>
            </tr>
          </thead>
          <tbody>
          {% for conf in confs %}
            <tr>
              <th scope="row">{{ conf.id }}</th>
              <td>{{ conf.title }}</td>
              <td>
                  <a href="{% url 'conference-detail' conf.id %}" class="btn btn-success">View</a>
                  <a href="{% url 'conference-update' conf.id %}" class="btn btn-secondary">Edit</a>
                  <a href="#" class="btn btn-danger">Delete</a>
              </td>
            </tr>
          {% endfor %}



          </tbody>
        </table>
    </div>

    </div>
{% endblock %}